* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

:root {
  
}

body{
  background-image: url(./assets/bg-image.jpg);
  background-size: cover;
}

#page{
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin:48px auto;
}

img{
  border-radius: 16px;
}

